<div class="user_c">
  <div class="user_data_post"> 
    <h2>#<%= @post.title %> by <span><%= @user.name %></span></h2>
    <h3 class = "post-comment">Comments <%= @post.comments_counter%>,  <span>Likes <%= @post.likes_counter%></span></h3>
    <p><%= @post.text %></p>  
  </div>
</div>
<div>
  <div class="comments">
  <% @comments.each do |comment| %>
    <h2><%= comment.author.name%>: <%= comment.text%></h2>
  <%end%>
  </div>

  <%= render template: "comments/new"%>

     <%=form_with url: user_post_likes_url(@user.id, @post.id), scope: :data do |f| %>
      <div>
        <%= f.submit "Like"%>
      </div>
    <% end %>

</div>
